
.OrganizationDetail {
  min-width: 275px;
}

.OrgAvatar {
  width: 50%;
  height: 50%;
}

.DetailContainer {
  padding: 10px;
  margin-left: 20px;
}

.Text {
  width: 100%;
}

.AppBarDiv {
  position: relative;
  right: 0;
}
