.ChildContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  border-bottom: solid 1px #bdbdbd;
  padding-right: 5px;
  padding-left: 5px;
}

.SectionHeading {
  margin-left: 10px;
}

.playerContainer {
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 2%;
}

@media only screen and (max-width: 1500px) {
  .playerContainer {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 5%;
  }
}

