
.list {
  color: white;
}

.listIcon {
  color: #fff;
  font-size: 30px;
}

.subHeader {
  color: #fff;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.075);
}

.expandIcon {
  color: #fff;
  // font-size: 30px;
  padding-right: -10px;
}
