
.card {
  width: 300px;
  float: left;
  margin-right: 3%;
  margin-bottom: 2%;
  height: 480px;
}

.cardMedia {
  object-fit: contain;
}

.actionsButton {
  margin-right: 10px;
}

.Paper {
  padding: 20px;
  padding-bottom: 50px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.icons {
  display: block;
}

.eventImage {
  margin-left: 50%;
  margin-top: 5%;
}

.actionsDiv {
  position: relative;
  left: 60%;
}

.listIcon {
  font-size: 20px;
}

.list {
  position: relative;
  right: 10%;
}

.eventContainer {
  margin-left: 12%;
}

.sortContainer {
  padding-left: 20px;
  margin-bottom: 1%;
  margin-left: 11%;
}

.searchField {
  margin-left: 70%;
}
