@import 'utility';

.root {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper {
  @extend %utility-fit-parent;
}

.spinner {
  @extend %utility-middle-align;
  height: 50px;
  width: 50px;
}
