
.actionsDiv {
  position: absolute;
  right: 40px;
}

.actionsButton {
  margin-right: 10px;
}

.Paper {
  padding: 20px;
  padding-bottom: 50px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.listIcon {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 20px;
  color: #757575;
}

.listTitle {
  font-size: 20px;
  font-weight: bold;
}

.listText {
  color: aqua;
  font-size: 25px;
}

.icons {
  display: block;
}

.eventImage {
  margin-left: 20%;
  margin-top: 5%;
}

.eventDescription {
  margin-top: 2%;
}

.detailsDiv {
  margin-top: 5%;
}

.nested {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 80px;
}

.bold {
  font-weight: bold;
}

.ContentDiv {
  width: 100%;
}

.buttonSuccess {
  background-color: #4caf50;
}

.buttonSuccess:hover {
  background-color: #388e3c;
}
