
.iconsDiv {
  position: absolute;
  padding: 5px;
  right: 25px;
}

.textField_No {
  width: 20px;
}

.textField_RecogNo {
  font-weight: lighter;
  width: 60%;
}

.textField_Organization {
  width: 35%;
}

.textField_Type {
  width: 65%;
}

.textField_College {
  width: 23%;
}

.textField_Admin {
  width: 82%;
}

.actionsDiv {
  margin-right: 10%;
}
