
.ChildContainer {
  margin-top: 50px;
  height: 440px;
  position: relative;
  border-bottom: solid 1px #bdbdbd;
  padding-right: 5px;
  padding-left: 5px;
}

.SectionHeading {
  margin-left: 10px;
}

.EventCard {
  height: 200px;
}

.EventPaper {
  margin: 10px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  }
}

.EventVenue {
  padding: 1px;
  line-height: 20px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.EventName {
  padding: 1px;
  line-height: 20px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.EventImage {
  height: 100%;
  width: 100%;
}

.EventDateContainer {
  padding: 10px;
}

.EventMonth {
  color: red;
}

.EventButton {
  position: absolute;
  bottom: 10px;
  right: 1%;
}

.EventHost {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.AnnouncementEmpty {
  height: 200px;
  margin-bottom: 10px;
}

.EmptyMessage {
  text-align: center;
  line-height: 200px;
}
