body {
  overflow-x: hidden;
  background: url("https://i.postimg.cc/d1VLPTtd/Untitled-1.png");
}

#body1 {
  overflow-x: hidden;
  background: url("https://i.postimg.cc/d1VLPTtd/Untitled-1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-size: cover;
  background-position: center;
}

.MuiToolbar-gutters-46 {
  padding-left: 1px;
  padding-right: 1px;
}

@media only screen and (min-width: 600px) {
  .MuiToolbar-gutters-46 {
    padding-left: 1;
    padding-right: 1;
  }
}

button:focus {
  outline: 0;
}

*:focus {
  outline: none !important;
}
