@import 'color';

.file {
  margin-top: 16px;
  color: #ccc;

  &:first-child {
    margin-top: 20px;
  }
}

.fileName {
  display: inline-block;
  font-size: 16px;
}

.fileSize {
  display: inline-block;
  font-size: 16px;
}

.progressBar {
  height: 5px;
  margin: 5px auto 0;
}

.errorFile {
  color: rgb(255, 0, 0);
}
