
.Paper {
  padding: 20px;
  padding-bottom: 50px;
  padding-left: 40px;
  margin-bottom: 20px;
  width: 60%;
  position: relative;
}

.submitButtonDiv {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.icon {
  font-size: 300px;
}

.passwordField {
  margin-top: 30px;
}
