
.iconsDiv {
  position: absolute;
  padding: 5px;
  right: 25px;
}

.button {
  margin: 20px;
}

.Button {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Controls {
  position: relative;
}

.Profit {
  position: absolute;
  right: 20px;
  top: 25px;
}

.Gray {
  color: grey;
}
