
.list {
  color: white;
}

.listIcon {
  color: #fff;
  font-size: 25px;
}

.subHeader {
  color: #fff;
  font-size: 12px;
  background-color: #400c0f;
}

.expandIcon {
  color: #fff;
  // font-size: 30px;
  padding-right: -10px;
}

.Menu {
  padding: 5px 5px 5px 20px;
}
