
.Paper {
  padding: 20px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-top: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

.submitButtonDiv {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.Scanner {
  width: 80%;
}

.listTitle {
  font-weight: bold;
}

.list {
  padding: 5px;
}

.detailsDiv {
  margin-top: 50px;
}
