.eventName {
  color: white;
}

.Paper {
  padding: 20px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-top: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  width: 90%;
}

.submitButtonDiv {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.Scanner {
  width: 100%;
  margin: auto;
}

.listTitle {
  font-weight: bold;
}

.InstructionsDiv {
  margin-top: 30%;
  margin-bottom: 20px;
}

.loadingProgress {
  position: absolute;
  margin: auto;
  top: 40%;
  left: 70%;
}

.AttendeeDetailsDiv {
  margin-top: 80px;
  margin-bottom: 20px;
}

.AttendeeDetail {
  padding-top: 5px;
}

.buttonSuccess {
  background-color: #4caf50;
}

.buttonSuccess:hover {
  background-color: #388e3c;
}

.Label {
  margin-top: 10px;
}

.AttendeeDetail {
  padding-top: 5px;
  margin-top: 10px;
}
