
.stepper {
  background-color: #fff;
  height: 90%;
  padding: 30px;
}

.form {
  height: 400px;
  padding: 30px;
}

.bottomButton {
  position: absolute;
  margin-top: 10px;
  right: 40px;
}

.inline {
  display: inline;
}

