.bottomButton {
  margin-top: 12%;
}

.grid {
  background-color: aqua;
}

.button {
  margin: 5px;
}

.Paper {
  padding: 20px;
  padding-top: 1px;
}

.iconsDiv {
  position: absolute;
  padding: 5px;
  right: 25px;
}
