.bottomButton {
  position: relative;
  right: 5px;
  top: 30px;
}

.grid {
  background-color: aqua;
}

.button {
  margin-left: 35%;
}

.Paper {
  padding: 20px;
  padding-top: 1px;
}

.iconsDiv {
  position: absolute;
  padding: 5px;
  right: 25px;
}
