
.list {
  color: white;
  font-size: 15px;
}

.listIcon {
  color: #fff;
  font-size: 22px;
}

.subHeader {
  color: #fff;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.075);
  line-height: 35px;
}

.expandIcon {
  color: #fff;
  // font-size: 30px;
  padding-left: 15px;
}

.nested {
  padding-left: 40px;
}
